cloud_id                 = "b1gnt4oh3rfff83dksq"
folder_id                = "b1gk3teffdfdfgqdphj"
zone                     = "ru-central1-a"
image_id                 = "fd8ta1u3fdfdfc7vjfm"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "e9bfm3n7gsurqahr8cv9"
service_account_key_file = "key.json"
private_key_path   = "~/.ssh/appuser"
region_id = "ru-central1"
db_disk_image            = "fd8vdpe8tfdfd0diukm"
app_disk_image           = "fd8t05cc9dfdfso645"
