cloud_id                 = "test123"
folder_id                = "folder_id"
zone                     = "zone"
image_id                 = "image_id"
public_key_path          = "key/path"
subnet_id                = "subnet_id"
service_account_key_file = "account/key"
private_key_path         = "private/key"
